* {
    font-size: 18px;
}

body {
    /* font-family: "trebuchet ms", Arial, Tahoma, Verdana, sans-serif;*/
    /* font-family: "trebuchet ms";*/
    /* font-family: Arial;*/
    /* font-family: Tahoma;*/
    /* font-family: Verdana;*/
    /* font-family: sans-serif;*/

}

a, a:hover {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.pt-6 { padding-top: 3.5rem !important }
.pt-7 { padding-top: 4rem !important }
.pt-8 { padding-top: 4.5rem !important }
.pt-9 { padding-top: 5rem !important }
.pt-10 { padding-top: 5.5rem !important }

.amuseBar-text-orange { color: #FCB63A !important; }
.amuseBar-text-maroon { color: #4D194D !important; }
.amuseBar-text-blue { color: #1186A7 !important; }
.amuseBar-text-green { color: #00B690 !important; }
.amuseBar-text-purple { color: #D98CED !important; }
.amuseBar-text-cream { color: #F6F2E7 !important; }

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
