* {
    font-size: 18px;
}

body {
    /* font-family: "trebuchet ms", Arial, Tahoma, Verdana, sans-serif;*/
    /* font-family: "trebuchet ms";*/
    /* font-family: Arial;*/
    /* font-family: Tahoma;*/
    /* font-family: Verdana;*/
    /* font-family: sans-serif;*/

}

a, a:hover {
    text-decoration: none;
}

.amusebar-menu {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: 100% auto !important;
    height: 50px !important;
}
.amusebar-sub-menu {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: 100% auto !important;
    height: 30px !important;
}

.amusebar-menu-concept { background: url("/image/menu/menu-concept.svg"); width: 130px; }
.amusebar-menu-concept:hover { background: url("/image/menu/menu-concept-hover.svg"); }
.amusebar-menu-concept.active { background: url("/image/menu/menu-concept-active.svg"); }

.amusebar-menu-bar { background: url("/image/menu/menu-bar.svg"); width: 190px; }
.amusebar-menu-bar:hover { background: url("/image/menu/menu-bar-hover.svg"); }
.amusebar-menu-bar.active { background: url("/image/menu/menu-bar-active.svg"); }

.amusebar-menu-shop { background: url("/image/menu/menu-shop.svg"); width: 132px; }
.amusebar-menu-shop:hover { background: url("/image/menu/menu-shop-hover.svg"); }
.amusebar-menu-shop.active { background: url("/image/menu/menu-shop-active.svg"); }

.amusebar-menu-catering { background: url("/image/menu/menu-catering.svg"); width: 270px; }
.amusebar-menu-catering:hover { background: url("/image/menu/menu-catering-hover.svg"); }
.amusebar-menu-catering.active { background: url("/image/menu/menu-catering-active.svg"); }

.amusebar-menu-event { background: url("/image/menu/menu-event.svg"); width: 100px; }
.amusebar-menu-event:hover { background: url("/image/menu/menu-event-hover.svg"); }
.amusebar-menu-event.active { background: url("/image/menu/menu-event-active.svg"); }

.amusebar-menu-crowdfunding { background: url("/image/menu/menu-crowdfunding.svg"); width: 235px; }
.amusebar-menu-crowdfunding:hover { background: url("/image/menu/menu-crowdfunding-hover.svg"); }
.amusebar-menu-crowdfunding.active { background: url("/image/menu/menu-crowdfunding-active.svg"); }

.amusebar-menu-contact { background: url("/image/menu/menu-contact.svg"); width: 126px; }
.amusebar-menu-contact:hover { background: url("/image/menu/menu-contact-hover.svg"); }
.amusebar-menu-contact.active { background: url("/image/menu/menu-contact-active.svg"); }

.amusebar-menu-convention { background: url("/image/menu/menu-convention.svg"); width: 60px; }
.amusebar-menu-convention:hover { background: url("/image/menu/menu-convention-hover.svg"); }
.amusebar-menu-convention.active { background: url("/image/menu/menu-convention-active.svg"); }

.amusebar-menu-team { background: url("/image/menu/menu-team.svg"); width: 60px; }
.amusebar-menu-team:hover { background: url("/image/menu/menu-team-hover.svg"); }
.amusebar-menu-team.active { background: url("/image/menu/menu-team-active.svg"); }

.amusebar-menu-timetable { background: url("/image/menu/menu-timetable.svg"); width: 60px; }
.amusebar-menu-timetable:hover { background: url("/image/menu/menu-timetable-hover.svg"); }
.amusebar-menu-timetable.active { background: url("/image/menu/menu-timetable-active.svg"); }

.navbar-collapse.collapse.show .amusebar-menu,
.navbar-collapse.collapsing .amusebar-menu,
.navbar-collapse.collapse.show .amusebar-sub-menu,
.navbar-collapse.collapsing .amusebar-sub-menu{
    height: 20px !important;
}
.navbar-collapse.collapse.show .amusebar-menu-concept, .navbar-collapse.collapsing .amusebar-menu-concept { width: 60px !important; }
.navbar-collapse.collapse.show .amusebar-menu-bar, .navbar-collapse.collapsing .amusebar-menu-bar { width: 80px !important; }
.navbar-collapse.collapse.show .amusebar-menu-shop, .navbar-collapse.collapsing .amusebar-menu-shop { width: 55px !important; }
.navbar-collapse.collapse.show .amusebar-menu-catering, .navbar-collapse.collapsing .amusebar-menu-catering { width: 115px !important; }
.navbar-collapse.collapse.show .amusebar-menu-crowdfunding, .navbar-collapse.collapsing .amusebar-menu-crowdfunding { width: 100px !important; }
.navbar-collapse.collapse.show .amusebar-menu-contact, .navbar-collapse.collapsing .amusebar-menu-contact { width: 55px !important; }
.navbar-collapse.collapse.show .amusebar-menu-convention, .navbar-collapse.collapsing .amusebar-menu-convention { width: 45px !important; }
.navbar-collapse.collapse.show .amusebar-menu-team, .navbar-collapse.collapsing .amusebar-menu-team { width: 45px !important; }
.navbar-collapse.collapse.show .amusebar-menu-timetable, .navbar-collapse.collapsing .amusebar-menu-timetable { width: 45px !important; }

.navbar-nav li {
    /*border: 1px solid gray;*/
}

.navbar-nav li a{
    /*border: 1px solid red;*/
}

.convention_background {
    background-color: #41443c;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing{
    background-color: #F6F2E7;
    /*flex-basis: auto;*/
    /*flex-grow: 0;*/
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.pt-6 { padding-top: 3.5rem !important }
.pt-7 { padding-top: 4rem !important }
.pt-8 { padding-top: 4.5rem !important }
.pt-9 { padding-top: 5rem !important }
.pt-10 { padding-top: 5.5rem !important }

.amuseBar-text-orange { color: #FCB63A !important; }
.amuseBar-text-maroon { color: #4D194D !important; }
.amuseBar-text-blue { color: #1186A7 !important; }
.amuseBar-text-green { color: #00B690 !important; }
.amuseBar-text-purple { color: #D98CED !important; }
.amuseBar-text-cream { color: #F6F2E7 !important; }

.amuseBar-bg-orange { background-color: #FCB63A !important; }
.amuseBar-bg-maroon { background-color: #4D194D !important; }
.amuseBar-bg-blue { background-color: #1186A7 !important; }
.amuseBar-bg-green { background-color: #00B690 !important; }
.amuseBar-bg-purple { background-color: #D98CED !important; }
.amuseBar-bg-cream { background-color: #F6F2E7 !important; }

.amuseBar-text-bar { color: #0903F9 !important; }
.amuseBar-text-crowdfunding { color: #0903F9 !important; }
.amuseBar-text-catering { color: #0903F9 !important; }
.amuseBar-text-concept { color: #0903F9 !important; }
.amuseBar-text-shop { color: #0903F9 !important; }

@media (min-width: 992px) {
    .amuseBar-bg-home {
        background-image: url('../image/bg/home_filtre.png');
        background-size: cover;
        background-color: transparent !important;
    }

    .amuseBar-home {

    }
}

@media (max-width: 992px) {
    .amuseBar-bg-home1 { background-color: #F6F2E7 !important; }
    .amuseBar-bg-home2 { background-color: #FFFFFF !important; }
}

.amuseBar-menu-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f2e7+0,f6f2e7+66&0.8+0,0.6+66,0+100 */
    background: -moz-linear-gradient(top,  rgba(246,242,231,0.8) 0%, rgba(246,242,231,0.6) 66%, rgba(246,242,231,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(246,242,231,0.8) 0%,rgba(246,242,231,0.6) 66%,rgba(246,242,231,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(246,242,231,0.8) 0%,rgba(246,242,231,0.6) 66%,rgba(246,242,231,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf6f2e7', endColorstr='#00f6f2e7',GradientType=0 ); /* IE6-9 */

}

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
